#landingscreen {
  height: 100vh;
  margin-top: 5vh;
  width: 60vw;
  margin-left: 10vw;
  margin-right: 30vw; }

  @media all and (max-width: 50em) {
    #landingscreen {
      width: auto;
      margin-top: 1vh;
      margin-left: 5vw;
      margin-right: 5vw;   }
}

p, h1, h2, h3, li {
  font-family: -apple-system, BlinkMacSystemFont, "akzidenz-grotesk_pro_regular", sans-serif;
  font-weight: 500; }

  li {
    margin-bottom: 0.8em; }

    #maintitle h1 {
      font-size: 3em;
      line-height: 1;
      letter-spacing: -0.02em; }

      h1 {
        font-size: 2em;
        line-height: 1;
        letter-spacing: -0.02em; }

        h2 {
          color: #333333; }

          h3 {
            color: #999999; }
